a
{
	font-family: courier;
        text-decoration: none;
}



a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: pink;
}

a:active {
    color: blue;
}

li {
    display: inline;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}
